<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BBLJ車車保養手冊</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="120x120" href='{{ url_for("static", filename="assets/apple-touch-icon.png") }}'/>
        <link rel="icon" type="image/png" sizes="32x32" href='{{ url_for("static", filename="assets/favicon-32x32.png") }}'/>
        <link rel="icon" type="image/png" sizes="16x16" href='{{ url_for("static", filename="assets/favicon-16x16.png") }}'/>
        <link rel="manifest" href='{{ url_for("static", filename="assets/site.webmanifest") }}'>
        <link rel="mask-icon" href='{{ url_for("static", filename="assets/safari-pinned-tab.svg") }}' color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href='{{ url_for("static", filename="css/layout.css") }}' rel="stylesheet">
    </head>
    <body>
        <div class="background-image">
        </div>
        <div class="content-wrapper">
            <div class="title-bar">
                <h1 class="page-title">BBLJ車車保養手冊</h1>
            </div>
            <div class="title-bar-fixed">
                <h1 class="page-title">BBLJ車車保養手冊</h1>
            </div>
            <div class="main-menu">
                <a href="cars"><h1 class="main-menu-item">1. 管理車車</h1></a>
                <a href="maintenance"><h1 class="main-menu-item">2. 保養紀錄</h1></a>
                <a href="logout"><h1 class="main-menu-item">登出</h1></a>
            </div>
        </div>
    </body>
</html>